body{
    padding: 0px;
    height:850px;
    margin: 0px;
    background-color: silver;
    display: flex;
    flex-wrap: wrap;


}



 .image {
    background-image: url("../../assets/images/about.jpg");
     height: 450px; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 1520px;
} 


h1 {
    /* margin-top: 350px;
    padding-left: 70px; */
    padding-top: 350px;
    margin-left: 50px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    /* margin-top: 100px; */
    padding-left: 60px;
    padding-top: 50px;
    margin: 0px;
    text-align: justify;
    margin-right:20px ;
}

.para {
    padding-left: 60px;
}
