<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div class="image_add">
    <img src="../../assets/images/contact.jpg"></div> -->
    
    <!-- <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
        
        <div class="container-fluid">
          
      
          
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
      
         
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img
                  src="../../assets/images/company_logo.png"
                  height="40"
                  alt="MDB Logo"
                  loading="lazy"
                />
              </a>
           
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              
              
            </ul>
            
          </div>
          
        </div>
       
      </nav> -->
      
      <div class="text">
        <h1>Contact Us</h1>
        <p>At Gadgeon we believe in transparent communication and have built various touchpoints through which our stakeholders can get in touch with us.

        </p>
      </div>

      <div class="form">
        <div class="container contact-form">
          <div class="contact-image">
              <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
          </div>
          <form method="post">
              <h3>Drop Us a Message</h3>
             <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                      </div>
                      <div class="form-group">
                          <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                      </div>
                      <div class="form-group">
                          <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                      </div>
                      <div class="form-group">
                          <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                      </div>
                  </div>
              </div>
          </form>
</div>
      </div>
    
</body>
</html>