body{
    padding: 0px;    
     min-height: 100vh;
    max-width: 100vw; 
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}


.image_add {
    background-image: url("../../assets/images/contact.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    height: 350px;
    width: 100%;
    
}

.text {
    width: 100%;
    height: 200px;
    padding-top: 200px;
    /* background-color: blue; */
}

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-top: 350px; */
    text-align: center;
    /* margin-top: 100px; */
}

p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}