/* body{
    padding: 0px;
    background-image: url("../assets/images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:850px;
    margin: 0px;
    background-color: black;

} */
/* body { 
    display: flex;
    flex-wrap: wrap;
} */