<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="image">
       <div class="heading"> <h1>Professional Services</h1></div>
      </div>
      <div class="content">
        
        <p>Talent sourcing via partner model is a well-established practice in the industry. Enterprises need a technology partner who is reliable and experienced like Gadgeon to meet the talent<br> challenges quickly and effectively. We offer multiple project engagement models with flexibility and high success rates like staff augmentation – hiring a developer model; fixed cost,<br> time & cost model; and managed agile team.
        <br><br>
        Extended Engineering team is a joint journey where Gadgeon guides our customers by following a phased industry-standard framework for transition, service delivery, and continuous<br> optimization. This model involves teams that are a true extension to the client's team and are mainly placed at Gadgeon's offshore development location(s). It allows maximum flexibility<br> in the execution of multiple projects using the best-fit pricing model.
        <br><br>
        When it comes to staffing solutions, one model doesn't fit all the requirements. Gadgeon's managed capacity services aim at helping customers in their digital journey by offering flexible <br>staffing solutions where customers buy services. At the same time, Gadgeon defines and provides capacity, and the customer provides overall direction. In contrast, Gadgeon manages and <br>control the output of the service. The processes are tailored according to the customer processes. The output is measured through agreed delivery and performance metrics and supports <br>multiple pricing models.</p>
        </div>
        <br><br>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <div class="service_list">
            <!-- <div class="heading"></div> -->
            <div class="left_container"><div class="image_left"></div>
            <h4>IoT Services</h4>
            <h5>Gadgeon helps enterprises from<br> different industries develop connected <br>devices that include wearable, smart sensors,<br> and smart appliances.

            </h5>
        </div>
            <div class="center_conatiner"><div class="image_center">
                
            </div>
            <h4>Testing Services</h4>
            <h5> Our testing services cater to the testing <br>needs of digital systems. We develop<br> checklists, frameworks, processes, methodologies. </h5>
            
        </div>
            <div class="right_conatiner"><div class="image_right"></div>
            <h4>Enterprise  App Services</h4>
            <h5>Gadgeon's Enterprise Application services<br> enable the digital transformation business <br>processes to simplify and integrate to <br>achieve key business goal.</h5>
        </div>
        </div>
</body>
</html>