<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
         <!-- <div class="top_logo">
        </div>  -->

        <!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
   
    <div class="container-fluid">
      
  
     
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
              src="../../assets/images/company_logo.png"
              height="40"
              alt="MDB Logo"
              loading="lazy"
            />
          </a>
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          
          
        </ul>
       
      </div>
      
    </div>
   
  </nav>
   -->

  <div class="left_image">
    <div class="left_image1">

    </div>

  </div>
  <div class="center_image">
    <div class="center_image1"></div>
  </div>

  <div class="right_image">
    <div class="right_image1"></div>
  </div>

    <div class="about">
     <h1 style="font-size: 50px;color:orange; font-family:Georgia, 'Times New Roman', Times, serif">About Gadgeon!</h1>
        <p style="color:white; font-size: larger;">Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using new-gen technologies. Our customers are able<br> to focus on high impact business scale up initiatives while the team from Gadgeon taking care of all engineering and operational activities.</p>
    </div>    
        
</body>
</html>