<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 

  <div class="left_image">
    <div class="left_image1">

    </div>

  </div>
  <div class="center_image">
    <div class="center_image1"></div>
  </div>

  <div class="right_image">
    <div class="right_image1"></div>
  </div>

    <div class="about">
     <h1 style="font-size: 50px;color:orange; font-family:Georgia, 'Times New Roman', Times, serif">About Gadgeon!</h1>
        <p style="color:white; font-size: larger;">Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using new-gen technologies. Our customers are able<br> to focus on high impact business scale up initiatives while the team from Gadgeon taking care of all engineering and operational activities.</p>
    </div>    
        
</body>
</html>